<section class="parallex-section p-0">
  <div class="parallex-container img-1" [ngStyle]="{'background-image': 'url(assets/images/portfolio/portfolio-new/1.jpg)'}"></div>
  <div class="parallex-container img-2" [ngStyle]="{'background-image': 'url(assets/images/portfolio/portfolio-new/4.jpg)'}" ></div>
  <div class="parallex-container img-3" [ngStyle]="{'background-image': 'url(assets/images/portfolio/portfolio-new/2.jpg)'}"></div>
  <div class="parallex-container img-4" [ngStyle]="{'background-image': 'url(assets/images/portfolio/portfolio-new/5.jpg)'}"></div>
  <div class="parallex-container img-5" [ngStyle]="{'background-image': 'url(assets/images/portfolio/portfolio-new/3.jpg)'}"></div>
</section>
